{% block content %}

<div class="gallery" x-data="{ selected_job: 'None' }">
    {% for row in jobs %}
    <div class="job-row">
        <div class="job-row-details">
            <div>
                <strong>Job #{{ row.job_number }}</strong>
                {% if row.request_type == 'Eng Trial' %}
                <img src="static/svg/flag.svg">
                {% endif %}
            </div>
            <div>
                <em><strong>Part Number: </strong>{{ row.part_number }}</em>
            </div>
            <div>
                <em><strong>Qty Parts: </strong>{{ row.qty_parts }}</em>
            </div>
        </div>
        <div class="select-job select-icon">
            <img src="static/svg/select.svg" @click="selected_job = '{{ row.job_number }}'"
                :class="{ 'selected': selected_job == '{{ row.job_number }}' }">
            <div><em>Select job</em></div>
        </div>
        <div class="hold-toggles">
            <span class="eng-review">
                <input type="checkbox" id="eng-toggle">
                <label for="eng-toggle">Eng Review</label>
            </span>
            <span class="eng-review">
                <input type="checkbox" id="mrb-toggle">
                <label for="mrb-toggle">MRB</label>
            </span>
        </div>
        <div class="data-toggles">
            <span class="parts-serialized">
                <input type="checkbox" id="serialized-toggle">
                <label for="serialized-toggle">All Parts Serialized?</label>
            </span>
        </div>
        <div class="scrap-parts select-icon">
            <img x-bind:disabled="selected_job != '{{ row.job_number }}'" src="static/svg/cancel.svg">
            <em>Scrap Parts</em>
        </div>
        <div class="move-txnx">
            <button x-bind:disabled="selected_job != '{{ row.job_number }}'">Finish Serialize</button>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}