body {
    font-size: 15px;
    font-family: "Consolas", sans-serif;
}

img {
    height: 45px;
    padding-top: 0;
}

#banner-title {
    font-size: 45px;
    /* border: 5px solid red; */
    text-align: center;
}

.banner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    background-color: lightblue;
}

.banner > * {
    width: 33%;
    /* border: 2px dotted rgb(96 139 168); */
}

.links > svg {
    padding-left: 5px;
}

.links svg {
    padding-top: 5px;
    height: 45px;
}

.filters {
    display: flex;
    flex: row nowrap;
    justify-content: space-between;
    margin: 5px 35px;
}

.filters > div {
    width: 33%;
    /* border: 2px dotted rgb(96 139 168); */
}

.filters svg {
    height: 45px;
    padding: 5px 5px 5px 0;
}

.left-of-filter, .right-of-filter {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

#gallery-title {
    font-size: 30px;
    /* border: 5px solid red; */
    /* text-align: center; */
    display: table;
    margin: 0 auto;
}

.select-icon > * {
    display: table;
    margin: 0 auto;
}

.scrap-parts svg, .select-job svg {
    height: 45px;
}

.hold {
    border: 2px dashed orange;
}

.gallery{
    border: 2px solid blue;
}

.job-row {
    border-bottom: 1px solid blue;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.job-row > * {
    padding: 10px;
    /* border: 1px solid red; */
}

.job-row-details svg {
    height: 15px;
}

.hold-toggles {
    /* border: 1px solid red; */
}

.data-toggles {
    flex: 2;
}

.data-toggles > span {
    display: table;
    margin: 0 auto;
}

.move-txnx > button {
    height: 65px;
    border-radius: 8px;
    background-color: lightblue;
}

.move-txnx > button:active {
    background-color: rgb(119, 204, 233);
}

.move-txnx > button:disabled {
    background-color: white;
}



.brash {
    fill: red;
}

.hidden {
    display: none;
}

.selected {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.gantt {
    position: relative;
    width: 100rem;
}

.clock-hours {
    position: sticky;
    z-index: 10;
    background-color: white;
    border-bottom: 1px solid black;

    top: 0;
    display: flex;
    flex: row nowrap;
    justify-content: space-between;
}

.printer-hood-gallery {
    border: 2px solid black;
}

.printer-row {
    margin: .5rem;
}

.row-name {
    width: 50px;
}

.print-cell {
    padding: 0;
    margin: 0 2px;
    background-color: lightgreen;
    border: 1px solid black;
    display: inline-block;
    z-index: 9;

    position: absolute;
    /* left: calc(95px + 3.5%); */
}

.blue-line {
    position: absolute;
    background-color: blue;
    z-index: 8;
    /* left: calc(40% + 3rem); */
    width: 2px;
    top: 0;
    bottom: 0;
}


[x-cloak] {
    display: none !important;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    width: 80%;
    height: 100%;
    left: 10%;
    top: 0%;
    /* transform: translate(-30%, -40%); */
}

.model-inner {
    background-color: white;
    border-radius: 0.5em;
    max-width: 800px;
    padding: 2em;
    margin: auto;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.75;
}